/* These styles are generated from project.scss. */

.alert-debug {
  color: black;
  background-color: white;
  border-color: #d6e9c6;
}

.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}
.pt-3-half {
      padding-top: 1.4rem;
    }
.my-bg{
  background-color: #2e2e2e33;
}
.save-btn{
  float: right !important;
  margin-right: 78px !important;
}
.hide{
  display: none;
}
table.alert-table td {

  width: 100px;
  margin: 4px;
  text-align: center;
}
table.alert-table th {
    width: 100px;
    margin:4px
}




